#contenu{
    position:absolute;
    width:800px;
    margin:0 auto;
    overflow:hidden;
}
h1{
    font-size: 32px;
  text-shadow: -1px -1px #eee, 1px 1px #888, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:#dd0000;
    padding:16px;
    font-weight:lighter;  
    text-align:center;
    display:block;
    margin:16px;
}
.musculation{
    background-color:white;
    position:relative;
    border:solid 3px #d1d8e0;
    border-radius:5px;
    box-shadow: 6px 6px 6px #a5b1c2;
    width:900px;
    height:400px;
    margin-bottom:10px;
}
h2{
    width:350px;
    top:5px;
    left:325px;
    font-size: 2em;
    color:#990000;
}
.titre{
    width:350px;
    position:absolute;
    top:5px;
    left:325px;
    font-size: 2em;
}
#muscle{
   color:black;
   font-weight:bold;
   position: absolute;
   width:400px;
   height:auto;
   padding:3px;
   text-align: justify;
   margin-top: 10%;
   margin-left: 10%;
}
.resume{
    color:black;
   font-weight:bold;
   position: relative;
   width:400px;
   height:auto;
   padding:3px;
   text-align: justify;
   margin-top: 10%;
   margin-left: 10%;
}
.description{
    color:black;
   font-weight:bold;
   position: relative;
   width:400px;
   height:auto;
   padding:3px;
   text-align: justify;
   margin-top: 10%;
   margin-left: 10%;
}
.image{
    color:black;
   font-weight:bold;
   position: absolute;
   width:400px;
   height:auto;
   padding:3px;
   text-align: justify;
   margin-top: 10%;
   margin-left: 10%;
}
.btn{
	background-color: #4CAF50; 
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
}
.btn:hover{
	background-color: rgb(181, 171, 182);
    color: white;
    transform: scale(1.1);
}
.image{
    position :absolute;
    left: 400px;
    top: 150px;
}

.exercice{
	color:#adaf0a;
	font-weight:bold;
	border:1px solid #adaf0a;
	border-radius:10px;
	margin-top: 0px;
	background-color:#ecf0f1;
	background-position:bottom;	
}
form{
	color:#adaf0a;
	font-weight:bold;
	border:1px solid #adaf0a;
	border-radius:10px;
	margin-top: 0px;
	background-color:#ecf0f1;
	background-position:bottom;
	
}
.champ{
    text-align:center;
    margin : 10px;
}
